.container {
  @include setXPadding(15px);

  width: 1200px;

  &--centered {
    @extend %x-margin-centered;
  }
}

.page-header__container {
  display: flex;
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}
