.page-footer {
  @include setYPadding(60px);

  background: getBgrColor('footer');
}

.page-footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: getTextColor('white');
}
